.imgDetail {
    height: 24rem;
    width: 100%;
    object-fit: cover;
}

.detail {
    overflow: hidden;
    box-shadow: rgb(122, 118, 118);
    border-radius:10px;
    display: flex;
    cursor: pointer;
    width: 70%;
}