body {
    margin-top: 2rem;
}

.card { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 12rem));
    gap: 2rem;
    justify-content: center;
    margin-top: 30px;
}

.card__body {
    overflow: hidden;
    box-shadow: lightgray;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.card img {
    height: 16rem;
    width: 100%;
    object-fit: cover;
}

.card h1 {
    padding: 1rem;
    font-size: 30px;
}

.card h2 {
    padding: 1.2rem;
    font-size: 24px;
}


.card p {
    padding: 0 1rem;
}

.description{
    margin:10px 0;
    font-size: 20px;
}

.price {
    margin:10px 0;
}

button {
    margin: 10px;
    padding: 0 1rem;
    background: blanchedalmond;
    border-radius: 5px;
    width: 170px;
    height: 30px;
}