@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    background-color: rgb(161, 153, 153);
}

li, a, h1, h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgb(223, 230, 223);
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.cart {
    cursor: pointer;
    width: 40px;
}

.navLinks {
    list-style: none;
    margin-left: auto;
}

.navLinks li {
    display: inline-block;
    padding: 0 20px;
}

.navLinks a li {
    transform: all 0.3s ease 0s;
    cursor: pointer;
}


.navLinks a li:hover {
    color: rgb(146, 50, 15);
}

.title {
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    text-shadow: 0 3px rgb(146, 50, 15);
}